@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Bold.woff") format("woff"), url("fonts/Gotham-Bold.ttf") format("truetype"), url("fonts/Gotham-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Medium.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Medium.woff") format("woff"), url("fonts/Gotham-Medium.ttf") format("truetype"), url("fonts/Gotham-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Thin.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Gotham-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Thin.woff") format("woff"), url("fonts/Gotham-Thin.ttf") format("truetype"), url("fonts/Gotham-Thin.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}
