
body{
    font-family: Gotham !important;
    background: url(images/design/body_bg.jpg) !important;
}


.webix_view {
 background: transparent;
}

.abstract_container {
    overflow-y: auto;
}



.app_container_toolkits_landing_title {
    text-align: center;
    padding-top: 130px !important;
    padding-bottom: 30px !important;
    line-height: 20px;
    color: #faa541;
    font-size: 30px !important;
    text-transform: uppercase;
    font-family: 'Gotham';
    font-weight: bold;
    border: none;
    border-width: 0px !important;
    letter-spacing: 4px;
}


.app_container_toolkits_landing_sub_title {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-width: 0px !important;
    padding-bottom: 85px !important;
}

/* Responsive Tiles */
.toolkit_item_img_wrapper {
    text-align: center;
}

.toolkit_item_img {
    max-height: 190px;
    max-width: 190px;
}
.toolkit_item_desc {
    text-align: center;
    padding-top: 30px;
    color: #faa541;
    font-size: 18px;
    text-transform: uppercase;
}

.carter_logged_in_view
{
    background: #ffffff;
}


.webix_window, .webix_win_content, .webix_win_body, .webix_win_body > .webix_view {
    border-radius: 0px;
    background: #ffffff !important;
}



/*Responsive */
.tiles{
    background-color: #f5f7f7;
}
.tiles .webix_template{
    margin-top:8px;
    padding:0 5px 0 5px;
}
.flex_tmp{

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex_tmp .item{
    border-radius: 2px;
    position: relative;
    min-width: 150px;
    height: 105px;
    padding-top: 10px;
    margin: 11px 5.5px 0px 5.5px;
    color: #fff;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;               /* Firefox 19- */
    -ms-flex: 1 auto;                    /* TWEENER - IE 10 */
    -webkit-flex: 1 auto;                /* NEW - Chrome */
    flex: 1 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.flex_tmp .item .icon{
    padding-left:10px;
    height: 73px;
    padding-top:7px;
    display: block;
    width: 30%;
    font-size: 77px;

    color:rgba(255, 255, 255, 0.17);
}
.flex_tmp .item .details{
    position: absolute;
    top:10px;
    right: 10px;
    width: 150px;
}
.flex_tmp .item .value{
    font-size: 27px;
    text-align: right;
}
.flex_tmp .item .text{
    width: 100%;
    font-size: 18px;
    text-align: right;
}
.tiles .orders{
    background-color: #a693eb;
}
.tiles .users{
    background-color: #63b4ea;
}
.tiles .item.profit{
    background-color: #49cd81;
}
.tiles .feedbacks{
    background-color: #f19b60;
}

.flex_tmp .footer{
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    background:rgba(0, 0, 0, 0.05);
}
.flex_tmp .footer .webix_icon{
    font-size: 14px;
}

/*** Checkbox ***/

.center{
    text-align:center;
}
.webix_hcell.center input[type=checkbox]{
    width:22px;
    height:22px;
    margin-top:12px;
}
.webix_table_checkbox{
    width:22px;
    height:22px;
    margin-top:5px;
}

*:focus {
    outline: none;
}
*{
    outline: 0 !important;
}


.carter-left-bar-container {
    background: #000000 !important;
    color: #8d8d8d;
    border: none;
}


.carter-grid-meta-selection-list-header,
.carter-grid-meta-shortlist-header{
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    border: 0px !important;
}

.carter-user-selected-list-for-validation >.webix_hcell ,
carter-user-selected-list-of-meta-components >.webix_hcell
{
    padding: 0px !important;
}


.carter-grid-header-meta-data-name .webix_cell
{
    border: 0px !important;
    font-size: 12px;
    color: #8d8d8d !important;
}

.meta-data-type-list-hover{
    font-family: Gotham ;
    background: #adadad !important;
    color: #ffffff !important;
}


.pager-meta-data-type-list {
    background: #000000 !important;
    color: #ebebeb;
    border: 0px !important;
    padding: 0px !important;
}


.usr-sel-metadata-type-list-pager{


    padding: 0px !important;
    line-height: 30px !important;
    padding-bottom: 0px;
    background: #ffffff !important;
    color: #000000;
    border: 0px !important;
    padding: 0px !important;
    margin-left: 3px !important;
}
.usr-sel-metadata-type-list-pager .webix_pager_item{
    color: #000000;
    background: #ffffff !important;
    border: 0px;
}


.usr-sel-metadata-type-list-pager .webix_pager_item:hover{
    color: #000000;
    background: #ffffff !important;
    border: 1px solid #cccccc !important;
}


.usr-sel-metadata-type-list-pager .webix_pager_item .pager-info-text {
    padding-left: 10px;
    padding-right: 10px;
}


.webix_column > div, .webix_table_cell {
    border-right: 0px !important;
    border-bottom: 0px !important;
}


/**/


.meta-data-type-header {
    border: none !important;
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    padding-left: 18px;
    height: 50px !important;
    padding-top: 10px;
}

.meta-data-type-title
{
    font-family: 'Gotham',Gotham;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 2px;
    padding-left: 18px;
    border: none !important;
    height: 40px !important;
}
.meta-data-header-icon {
    padding-right: 10px;
    color: #faa540;
    font-size: 25px;
}

.meta-data-search-input {
    padding-bottom: 2px;
}

.carter-workflow-container{
    border: 0px !important;
    border-width: 0px !important;
    padding: 2px !important;
}


.meta-data-search-input .webix_el_box input {
    border: 0px !important;
    color: #b0b0b0;
    background: rgba(221, 221, 221, 0.2);
}


.meta-data-search-input .webix_el_box .webix_input_icon {
    color: #faa540 !important;
}


.carter-adv-filter .webix_el_box .webix_img_btn {
    border: 1px solid #cccccc !important;
    border-radius: 0px;
    margin-left: -3px;
}

.carter-user-selected-list-for-validation {
    border: 0px !important;
}

.carter-adv-filter .webix_img_btn:active, .carter-adv-filter.webix_img_btn_top:active {
    background-color: #ffffff !important;
     box-shadow: none !important;
}

.carter-filter-modified-by .webix_el_box,
.carter-filter-modified-by .webix_el_box input
{
    border-radius: 0px !important;
    /*border-right: 0px !important;*/
}

.webix_list_item {
    font-size: 12px !important;
}

.carter-filter-modified-by
{
    margin-right: -1px;

}
.metadata-type-list-pager{

    padding: 0px !important;
    line-height: 30px !important;
    padding-bottom: 0px;
    background: #000000 !important;
    color: #ebebeb;
    border: 0px !important;
    padding: 0px !important;
}
.metadata-type-list-pager .webix_pager_item{
    color: #ebebeb;
    background: #000000;
    border: 0px;
}

.metadata-type-list-pager .webix_pager_item:hover{
    color: #ebebeb;
    background: #5a5858;
    border: 0px;
}


.metadata-type-list-pager .webix_pager_item .pager-info-text {
    padding-left: 10px;
    padding-right: 10px;
}



.carter_app_toolbar{

    background: #efefef !important;
}


.user_login_profile_icon {
    padding-right: 5px;
    font-size: 24px;
    color: #faa540 !important;
}

.user_login_profile_label {
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
}


.user_login_profile {
    color: #ffffff;
    background: #000000;
    padding-left: 16px;
    margin-top: -3px;
}
.user_login_profile_arrow {
    padding-left: 5px;
    padding-right: 5px;
    color: #faa540 !important;
}


.webix_input_icon{
    background: rgba(221, 221, 221, 0.2);
}


.checkcolumn >div {
    padding: 0px !important;
    padding-left: 4px !important;
    padding-top: 2px !important;
}


/*****/

/*** /
.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}


.work-flow-cell-step1,
.work-flow-cell-step2,
.work-flow-cell-step3
{
    padding-top: 10px !important;
}

.carter-toolkit-name .webix_accordionitem_header{
    height:50px !important;
}

/**** CARTE STYLES ****/

/** Progress Steps ***/


.progressbar {
    margin: 0;
    padding: 0;
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 18%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #faa540;
    z-index: 3;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 27px;
    border: 2px solid #faa540;
    display: block;
    text-align: center;
    margin: 0 auto 1px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #faa540;
    top: 33%;
    left: -41%;
    z-index: -1;
}


.review_btn_container {
    border: 1px solid #DDDDDD;
}

.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: #55b776;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}

.carter-workflow-bar{
    border: 0px !important;border-width: 0px !important;
}
.carter-workflow-bar .webix_template {
    padding-top: 9px !important;
}

/***/
.carter_not_logged_in_left_container,
.carter_not_logged_in_left_description_container
{

    background: #000000 !important;
}
.carter_not_logged_in_left_title {
    background: #F19700 !important;;
    color: #f7f2f2;
}

.carter-toolkit-title
{
    line-height: 37px;
    text-align: center;

}


.carter-toolkit-desc
{
    line-height: 37px;
}

.carter_not_logged_in_center_container_title
{
 background: #EBEBEB !important;

}

.carter_not_logged_in_center_container_title {
    background: #EBEBEB !important;
    line-height: 34px;
    text-align: center;
    font-size: 18px;
}

.carter_login_source_org_select_title{
    line-height: 34px;
    text-align: center;
    font-size: 16px;
}

.webixbutton:hover{
    background-color: red !important;
}


.webix_accordionitem .webix_accordionitem_header .webix_accordionitem_button:before {
    content: "\f0c9";
}



.webix_accordionitem .webix_accordionitem_header .webix_accordionitem_button {
    color: #ffffff;
    background-image: none;
    font-family: FontAwesome;
    font-size: 24px;
    text-align: center;
    width: 24px;
    height: 45px;
    margin: 0 10.5px 0 10.5px;
    float: left;
}

.webix_accordionitem_header {

    background: #faa540;
}

.carter-toolkit-title {
    line-height: 46px;
    text-align: center;
}

.webix_resizer_vx {

    /*width: 2px !important;*/

}
.webix_placeholder,
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-size: 11px !important;
}
.webix_placeholder,
::-moz-placeholder { /* Firefox 19+ */
    font-size: 11px !important;
}
.webix_placeholder,
:-ms-input-placeholder { /* IE 10+ */
    font-size: 11px !important;
}
.webix_placeholder,
:-moz-placeholder { /* Firefox 18- */
    font-size: 11px !important;
}

.webix_vscroll_y{

    /*width: 9px !important;*/
}

.webix_ss_vscroll_header{
    display: none !important;
}



.webix_ss_header td {
     border-right: 0px solid #EBEBEB;
    border-bottom: 0px solid #EBEBEB;
}

.webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header, .webix_dd_drag_column {
    font-size: 15px;
    background: #EBEBEB !important;
}

.webix_ss_sort_asc, .webix_ss_sort_desc{

    width: 15px !important;
}

.webix_ss_sort_desc:before {
    content: '\f15e' !important;
}

.webix_ss_sort_asc:before {
    content: "\f15d" !important;
}

.toolkit-grid-header-meta-type-text{


    font-size: 18px !important;
}
.review_step_btn .webix_el_box .webix_img_btn{
    color: #FFFFFF;
}


.target_logout_menu_icon {
    padding-right: 5px;
    font-size: 30px;
    color: #faa540;
}

.target_logout_menu_icon ,
.source_logout_menu_icon
{
    padding-right: 5px;
    font-size: 30px;
    color: #faa540;
}
.target_logout_menu_text,
.source_logout_menu_text
{
    padding-left: 6px;
    position: absolute;
}
.webix_dtable .webix_ss_filter input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.webix_el_search input, .webix_el_text input, .webix_el_combo input, .webix_el_colorpicker input, .webix_el_datepicker input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px !important;
}


.webix_el_richselect .webix_inp_static, .webix_el_datepicker .webix_inp_static, .webix_el_colorpicker .webix_inp_static, .webix_el_dbldatepicker .webix_inp_static {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    padding-right: 28px !important;
    white-space: nowrap !important;
}


.webix_accordionitem_header{
    border: 0px !important;
}
.webix_el_radio .webix_custom_radio {
    border: 1px solid #faa540;
    background-color: #FEFEFE;
}

.webix_el_radio .webix_custom_radio:before {
    background-color: #faa540;
}



.webix_el_button input, .webix_el_toggle input, .webix_el_button button, .webix_el_toggle button, .webixbutton {

    border: 1px solid #faa540;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
.webixtype_base, .webixtype_prev, .webixtype_next, .webixbutton {
    background: #faa540;
}


.components_list_filter_btn .webix_el_box .webix_img_btn {
    line-height: 29px;
    border: 1px solid #faa540;
    padding: 0px;
    margin: 0px !important;
    text-align: center;
    background: #faa540 !important;
}

.components_list_filter_btn .webix_el_box .webix_img_btn .webix_icon_btn{
    color: #FFFFFF;
}

.webix_column > div.webix_cell_select, .webix_column > div.webix_column_select, .webix_column > div.webix_row_select {
    color: #000000;
    background: none !important;
}

.carter-grid-header-meta-data-name > div.webix_row_select {
    color: #1b1919 !important;
    background: #e2be93 !important;
}


.carter-filter-by-type-combo .webix_el_box .webix_input_icon {
    background: #ffffff !important;
    height: 20.5px !important;
    /* padding-top: 5px !important; */
    color: #777575;
    margin-top: 2px;
    margin-right: 1px;
    border-left: 1px solid #cfcfcf;
}

.carter-user-login-menu-list .webix_list_item:hover ,
.carter-user-login-menu-list .webix_list_item:hover
{
    background: #ebebeb !important;
}

.carter-source-grid-row-obj-name {
    font-size: 12px;
    line-height: 26px;
}

.carter-grid-sub-info {
    margin-top: -16px;
    font-size: 10px;
    height: 10px;
    float: left;
    font-weight: 200;
}

.carter_left_resizer
{
    border: 1px solid #ffffff !important;
}

.carter_left_resizer_line {
    border-right: 0px solid #d0cccc !important;
    border-bottom: 0px !important;
    border-left: 1px solid #d0cccc !important;
    border-top: 0px !important;
}
.carter-source-grid-row-obj-modby {
    font-size: 10px;
}

.carter-user-selected-list-of-meta-components {
    border: 0px !important;
}

.carter-source-grid-row-obj-mod-date
{
    padding-left: 10px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}



.centering_outer{
    width:100% !important;

    /* Firefox */
    display:-moz-box !important;
    -moz-box-pack:center !important;
    -moz-box-align:center !important;

    /* Safari and Chrome */
    display:-webkit-box !important;
    -webkit-box-pack:center !important;
    -webkit-box-align:center !important;

    /* W3C */
    display:box !important;
    box-pack:center !important;
    box-align:center !important;
}
.centering_inner{
    width:100% !important;
}


.retrieve_progress_bar_container,
.retrieve_progress_status_text_container,
.retrieve_progress_status_btn_container
{

    border-right: 0px !important;
    border: 0px !important;
}
.retrieve_progress_bar_container .webix_template,
.retrieve_progress_status_text_container .webix_template,
.retrieve_progress_status_btn_container .webix_template
{


    display:-webkit-box !important;
    -webkit-box-pack:center !important;
    -webkit-box-align:center !important;
    /* W3C */
    display:box !important;
    box-pack:center !important;
    box-align:center !important;
}